<template name="header">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Fragments Admin</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          {{#each navRoutes}}
            <li class="{{#if equals currentRoute route}}active{{/if}}">
              <a href={{pathFor route}}>{{name}}</a>
            </li>
          {{/each}}
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>
</template>